/* 1201px > p > font-size: 14px;
1080px > p  > 13px; line-height: 1.2rem; */

* {
    box-sizing: border-box;
  }


/* Cookies */
.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f6f5fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px #2f3640;

    transition: 400ms;

}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f6f5fa;
}

.cookie-btn {
    background: rgb(214,26,12);
    border: 0;
    color: #f6f5fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
}
/* END Cookies */

body {
    font-family: 'Montserrat';
    line-height: 1.6rem;
    letter-spacing: 0.1px;
    margin: 0;
}

/* Heder */
.navbar-inverse .container-fluid {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 15px 0px;
    margin: 0;
}

.navbar-inverse {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.navbar-inverse .navbar-toggle {
    background-color: rgb(214,26,12);
}



nav .container-fluid .logo {
    margin: 15px 40px;
}

.navbar-inverse #myNavbar .navbar-nav {
        text-decoration: none;
        margin: 0;
        padding: 0;
}

.navbar-inverse #myNavbar .navbar-nav li{
        display: inline;
}

.navbar-inverse #myNavbar .navbar-nav li a {
        color: black;
        margin: 24px 66px;
        padding: 10px;
        text-decoration: none;
        border-bottom: 3px solid transparent;
}

.navbar-inverse #myNavbar li a:hover {
    border-bottom: 3px solid rgb(214,26,12);
}

@media screen and (max-width: 1280px) {
    .navbar-inverse #myNavbar .navbar-nav li a {
        margin: 14px 46px;
    }
}

@media screen and (max-width: 1075px) {
    .navbar-inverse .container-fluid .logo {
        margin: 20px 40px;
        width: 200px;
    }
    .navbar-inverse #myNavbar .navbar-nav { 
        font-size: 15px;
    }
    .navbar-inverse #myNavbar li a {
        margin: 0px 25px;

    }
}

@media screen and (max-width: 860px) {
    .navbar-inverse .container-fluid .logo {
        margin-top: 25px;
        width: 150px;
    }
    .navbar-inverse #myNavbar .navbar-nav { 
        font-size: 13px;
    }
    .navbar-inverse #myNavbar li a {
        margin: 0px 15px;

    }
}

@media screen and (max-width: 700px) {
    .navbar-inverse .container-fluid {
        flex-direction: column;
        align-items: center;
    }
    .navbar-inverse .container-fluid .logo {
        width: 300px;
        margin-top: 50px;
    }
    .navbar-inverse #myNavbar li a {
        font-size: 16px;
    }
} 

@media screen and (max-width: 860px) {

}
/* END Heder */



/* Slideshow container */
.slideshow-container {
    margin: 120px 0;
}

.slideshow-container h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 3rem;
}

@media screen and (max-width: 860px) {
    .slideshow-container {
        margin: 70px 0;
    }
    .slideshow-container h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 630px) {
    .slideshow-container h2 {
        font-size: 22px;
        line-height: 1.7rem;
    }
}

@media screen and (max-width: 530px) {
    .slideshow-container h2 {
        font-size: 21px;
    }
    .slideshow-container {
        margin: 50px 0;
    }
}
@media screen and (max-width: 449px) {
    .slideshow-container h2 {
        font-size: 18px;
    }
    .slideshow-container {
        margin: 40px 0;
    }
}
@media screen and (max-width: 376px) {
    .slideshow-container h2 {
        font-size: 15px;
        line-height: 1.5rem;
    }
    .slideshow-container {
        margin: 20px 0;
    }
}
@media screen and (max-width: 320px) {
    .slideshow-container h2 {
        font-size: 13px;
        line-height: 1.2rem;
    }
}

.slideshow-container .mySlides {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 
/* END Slideshow container */



.horizontal-line {
    width: 82%;
    margin: 100px auto;
    background-color: #f1f1f1;
}


/* About */
.container-fluid #about .peel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#about .grid {
    margin: 40px;
    display: flex;
}

#about .grid .block-2{
    align-items: center;
}

@media screen and (max-width: 1300px) {
    #about .peel {
        min-width: 100%;
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 1201px) {
    #about .grid .product {
        width: 320px;
    }
    #about .grid .block-2 p,
    #about .grid .block-2 blockquote {
        font-size: 15px;
        margin-top: 12px;
    }
    #about .peel {
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 1080px) {
    #about .grid .product {
        width: 290px;
    }
    #about .grid .block-2 p,
    #about .grid .block-2 blockquote {
        font-size: 14px;
        text-align: justify;
    }
}

@media screen and (max-width: 991px) {
    #about .grid {
        flex-direction: column-reverse;
    }
    #about .grid .block-2 p,
    #about .grid .block-2 blockquote {
        line-height: 1.2rem;
    }
    #about .grid .block-1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about .grid .block-1 .product{
        width: 55%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    #about .grid .block-1 .product{
        width: 90%;
        margin-top: 60px;
    }
    #about .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 570px) {
    #about .grid .block-2 p,
    #about .grid .block-2 blockquote {
        font-size: 13px;
        line-height: 1.3rem;
    }
    .horizontal-line {
        margin: 50px auto;
    }
    #about .peel {
        margin-bottom: 70px;
    }
    #about .grid .block-1 .product{
        margin-top: 40px;
    }
}

@media screen and (max-width: 440px) {
    #about .grid .block-2 p,
    #about .grid .block-2 blockquote {
        font-size: 12px;
        line-height: 1.2rem;
    }
}

@media screen and (max-width: 440px) {
    #about .peel {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 360px) {
    #about .container {
        margin-left: 0;
        margin-right: -15px;
    }
}
/* END About */


/* How to use */
#showcase {
    margin: 100px 0;
    padding: 150px 0;
    background-color: rgb(166,166,166);
}

#showcase .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

@media screen and (max-width: 1200px) {
    #showcase .image {
        min-width: 100%;
    }
}
/* END How to use */


/* wrapper */
.wrapper .paragraph {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
}

.wrapper p {
    font-size: 18px;
    text-align: center;
}


.wrapper .columns {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 .8rem;
    line-height: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.wrapper .column-1,
.wrapper .column-2,
.wrapper .column-3 {
    flex: 1;
    margin: 0 30px;
}

.columns .column-1 blockquote,
.columns .column-2 blockquote,
.columns .column-3 blockquote {
    line-height: 1.6rem;
    text-align: center;
}

.wrapper .container-fluid {
    width: 85%;
    margin-top: 60px;
}

.wrapper .container-fluid h4 {
    text-align: center;
}

.wrapper .container-fluid blockquote {
    text-align: center;
    line-height: 1.6rem;
}

.wrapper .probelle {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1210px) { 
    .wrapper blockquote,
    .container-fluid blockquote { 
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper .probelle {
        min-width: 100%;
    }
}

@media screen and (max-width: 1161px) { 
    .wrapper .columns {
        flex-direction: column;
    }

    .wrapper p {
        display: block;
        margin-left: auto;
        margin-right:auto;
        width: 70%;
        font-size: 16px;
    }

    .wrapper .column-1,
    .wrapper .column-2,
    .wrapper .column-3 {
        display: block;
        margin-left: auto;
        margin-right:auto;
        width: 55%;
    }

    .columns .column-1 blockquote,
    .columns .column-2 blockquote,
    .columns .column-3 blockquote {
        margin-bottom: 70px;
    }

}

@media screen and (max-width: 1080px) { 
    .wrapper blockquote,
    .container-fluid blockquote { 
        font-size: 13px;
        line-height: 1rem;
    }
}

@media screen and (max-width: 700px) { 
    .wrapper .column-1,
    .wrapper .column-2,
    .wrapper .column-3 {
        width: 80%;
    }

    .wrapper p {
        font-size: 14px;
    }
}

@media screen and (max-width: 570px) { 
    .wrapper .container-fluid {
        margin-top: auto;
    }
}

@media screen and (max-width: 550px) {
    .wrapper .paragraph { 
        font-size: 15px;
    }

    .wrapper .columns {
        min-width: 100%;
    }
}
/* END wrapper */


/* ORDER */
#order {
    background-color: #f1f1f1;
    margin-top: 100px;
}

@media screen and (max-width: 420px) {
    #order {
        margin-top: 20px;
    }
}

#order .container-fluid {
    padding: 60px;
    margin-bottom: auto;
    text-align: center;
}

#order .container-fluid .container p {
    font-weight: 700;
}

#order .container-fluid .container .image {
    margin: 12px 0px 32px;
}

#order .container-fluid .container .price-text { 
    font-size: 30px;
}
 
#order .container-fluid .container .price2 {
    font-size: 30px;
    color: rgb(197,35,46);
}

#order .container-fluid .container .product-text {
    margin: 0px 0px 51px;
}

#order .container-fluid .container .order-text {
    margin: 0px 0px 12px;
    font-size: 25px;
}

  .col-50 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    padding: 0 50px;
    min-width: 100%;
    line-height: 1.6rem;
    padding: .65rem .8rem .55rem;
  }

  @media screen and (max-width: 590px) { 
    .col-50 {
        width: 100%;
    }
  }

  #order .container {
    background-color: #f1f1f1;
    padding: 5px 20px 15px 20px;
    border: 1px solid black;
    border-radius: 2px;
  }
  
  input[type=text] {
    min-width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .row .fa-user {
    margin-right: 6px;
   }

   .row .fa-envelope {
    margin-right: 6px;
   }

   .row .fa-phone {
    margin-right: 5px;
   }

   .row .fa-address-card-o {
    margin-right: 2px;
   }

  .sideBar-2 #text:hover,
  .sideBar-2 label:hover {
    cursor: pointer;
}

.container-fluid .container {
    display: flex;
}

.sideBar-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-self: center;
}

.sideBar-2 .btn-send {
    background-color: rgb(197,35,46);
    border-color: rgb(197,35,46);
    color: #ffffff;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: Montserrat, Avenir, "Avenir Next", Trebuchet, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.6rem;
    margin-top: 8px;
    padding: .65rem 2.2rem .55rem;
}

.sideBar-2 .btn-send:hover {
    background-color: rgb(184, 86, 92);
    border-color: rgb(184, 86, 92);
}

@media screen and (max-width: 638px) {
    .sideBar-2 .btn-send {
        width: 100%;
        font-size: 14px;
        font-weight: 800;
    }
}

@media screen and (max-width: 990px) {
    #order .container {
        display: flex;
        flex-direction: column;
    }
    .sideBar-2 {
        width: 100%;
        margin-top: 50px;
    }
}

@media screen and (max-width: 775px) {
    #order .container {
        border: none;
    }
    #order .container-fluid {
        padding: 0px;
    }
}

@media screen and (max-width: 700px) {
    #order .container .sideBar-1 .order-text {
        font-size: 18px;
    }
    #order .container .sideBar-1 .product-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 630px) {
    .container blockquote {
        font-size: 13px;
        line-height: 1.3rem;
    }
}

@media screen and (max-width: 420px) {
    #order .container .sideBar-1 .price-text,
    #order .container .sideBar-1 .price2 {
        font-size: 20px;
    }
}

/* END ORDER */

/* FOOTER */

.container blockquote {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem;
    text-align: justify;
}

@media screen and (max-width: 990px) {
    .container blockquote {
        width: 100%;
    }
}

#grid {
    width: 85%;
    display: flex;
    justify-content: flex-end;
}

#grid .navbar-nav {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px 0;
}

#grid .navbar-nav li {
    list-style: none;
}

#grid li {
    display: inline-block;
}

#grid li a {
    color: rgb(197,35,46);
    padding: 8px;
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    #grid {
        width: 90%;
    }
}

@media screen and (max-width: 635px) {
    #grid .navbar-nav li {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    #grid {
        width: 100%;
    }
}

/* END FOOTER */








/* Cookies */
.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f6f5fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px #2f3640;

    transition: 400ms;

}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f6f5fa;
}

.cookie-btn {
    background: rgb(214,26,12);
    border: 0;
    color: #f6f5fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
}
/* END Cookies */
